* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    overflow: hidden;
}
body {
    background-color: violet;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.header {
    width: 380px;
    height: 680px;
    border: 2px solid white;
    background-color: rgb(52, 47, 47);
    display: flex;
    align-items: flex-end;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
}
.nav ul{
    background-color: black;
    display: flex;
    justify-content: center;
}
.nav ul li {
    padding: 10px 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: transparent;
    /* border: .5px solid red; */
}
.nav ul li:hover {
    border: 2px dotted red;
}
i {
    transform: translateX(8px);
    font-size: 25px;
    animation: bg-color 5s infinite;
}
i:hover {
    animation: none;
}
.image1 {
    z-index: 1;
}
.lens {
    position: static;
    display: block;
    margin: auto;
    color: black;
    z-index: 3;
}

p {
    display: flex;
    text-align: center;
    font-size: 16px;
}

@keyframes bg-color {
    0% {color: rgb(146, 237, 237);}
    25%{color: rgb(91, 248, 6)}
    50%{color: rgb(255, 255, 7);}
    75%{color: rgb(239, 84, 12);}
    100%{color: rgb(8, 74, 241);}
}